{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^svelte", "<THIRD_PARTY_MODULES>", "^client", "^lib", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
