name: BE Lint and Test

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]
    branches: ["main"]
    paths-ignore: ["frontend/**"]

  push:
    branches: ["main"]
    paths-ignore: ["frontend/**"]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install pre-commit
      - run: pre-commit run flake8 --all-files
      - run: pre-commit run black --all-files
      - run: pre-commit run isort --all-files

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements/local.txt

      - name: Run tests with Pytest
        env:
          ALLOWED_ORIGINS: "*"
        run: python -m pytest
