name: BE Lint

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]
    branches: ["main"]
    paths-ignore: ["./frontend/**"]

  push:
    branches: ["main"]
    paths-ignore: ["./frontend/**"]

jobs:
  lint-backend:
    name: Lint Backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install pre-commit
      - run: pre-commit run --all-files
